<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="./static/styles/contato.css">
    <link rel="stylesheet" href="./static/styles/_header.css">
    <link rel="stylesheet" href="./static/styles/_footer.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>Contato</title>
    <script src="./static/js/load_partials.js" defer></script>
</head>
<body>
    <header id="header" class="header-template-one"></header>

    <section class="section-aling">
        <div class="container">
            <div class="text-section">
                <h3>Ric Auto Multimarcas</h3>
                <div class="contact-detail">
                    <ul>
                        <li >
                            <div class="icon-wrap">
                                <i class='bx bxs-map'aria-hidden="true"></i>
                            </div>
                            <div class="content-infos-contact">
                                Rua Dr. Pedro Zimmermann, 1001 - Salto do Norte - Blumenau - SC
                            </div>
                        </li>
                        <li>
                            <div class="icon-wrap">
                                <i class='bx bxs-phone' aria-hidden="true"></i>
                            </div>
                            <div class="content-infos-contact">
                                <a href="tel:4731444709">
                                    (47) 3144-4709
                                </a>
                            </div>
                        </li>
                        <li>
                            <div class="icon-wrap">
                                <i class='bx bxs-envelope' aria-hidden="true"></i>
                            </div>
                            <div class="content-infos-contact">
                                <a href="mailto=vendas@ricmultimarcas.com.br">
                                    vendas@ricmultimarcas.com.br
                                </a>
                            </div>
                        </li>
                        <li>
                            <div class="icon-wrap whatsapp">
                                <i class='bx bxl-whatsapp' aria-hidden="true"></i>
                            </div>
                            <div class="content-infos-contact">
                                <a href="https://wa.me/5547991224281">
                                    (47) 99164-05417
                                </a>
                            </div>
                        </li>
                        <li>
                            <div class="icon-wrap">
                                <i class="fas fa-clock"></i>
                            </div>
                            <div class="content-infos-contact collum">
                                <span>
                                    <u>
                                        Horário de funcionamento
                                    </u>
                                </span> 
                                <span>
                                    Segunda a sexta: das 09h às 19h 
                                </span>
                                <span>
                                    Sábado: das 09h às 18h 
                                </span>
                                <span>
                                    Domingo: das 13h às 19h 
                                </span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="map-section">
                <div class="div-iframe">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14236.834865990992!2d-49.09091924408565!3d-26.865109121413546!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94df1e53943900bd%3A0x300a6ae8c2f5f68d!2sVale%20Auto%20Shopping%20Blumenau!5e0!3m2!1spt-BR!2sbr!4v1736946653660!5m2!1spt-BR!2sbr" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
                <div class="div-btn-go-shop">
                    <a class="google-maps-button" href="https://www.google.com/maps/place/Vale+Auto+Shopping+Blumenau/@-26.864118,-49.084137,17z/data=!4m6!3m5!1s0x94df1e53943900bd:0x300a6ae8c2f5f68d!8m2!3d-26.8636297!4d-49.085519!16s%2Fg%2F1q665m1cj?hl=pt-BR&entry=ttu&g_ep=EgoyMDI0MTIxMS4wIKXMDSoASAFQAw%3D%3D" target="_blank"> Ir para a Loja</a>
                </div>
            </div>
        </div>
    </section>
    <footer id="footer" class="footer-one"></footer>
</body>
</html>
