<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link  rel="stylesheet" href="./static/styles/nossaEmpresa.css">
    <link rel="stylesheet" href="./static/styles/_header.css">
    <link rel="stylesheet" href="./static/styles/_footer.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>Sobre Nós</title>
    <script src="./static/js/load_partials.js" defer></script>
</head>
<body>
    <header id="header" class="header-template-one"></header>

    <div class="container">
        <div class="title-text">
            <h1>Ric Auto Multimarcas</h1>
            <div class="text-section">
                <p>Atua no mercado desde 2009, construindo um bom relacionamento com bancos e o mais importante: com os clientes.</p>
                <p>Tem o objetivo claro que é a <strong>transparência, honestidade e seriedade</strong>, garantindo a <strong> procedência do produto </strong></p>
                <p>Com este pensamento que estamos sempre a disposição e bem preparados para o nosso principal objetivo: “nosso cliente”.</p>
            </div>
        </div>
        <div class="img-container">
            <img fetchpriority="high"  src="./static/assets/images/empresa.jpeg" alt="imagem da empresa">
        </div>
    </div>
    <footer id="footer" class="footer-one"></footer>
</body>
</html>