<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./static/styles/veiculo.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="./static/styles/_header.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <script src="./static/js/tab.js"></script>
    <script src="./static/js/slider.js" defer></script>
    <script src="./static/js/load_partials.js"></script>
    <link rel="stylesheet" href="./static/styles/_footer.css">
    <title>Veículo</title>
</head>
<body>
    <header id="header" class="header-template-one"></header>

    <div class="container">
        <div class="banner">
            <button class="nav-button" id="prev"><img src="./static/assets/images/arrow.png" alt=""></button>
            <div class="image-container">
                <img src="./static/assets/images/imagensCarro/imagem15.jpeg" alt="Imagem 2" class="banner-image">
                <img src="./static/assets/images/imagensCarro/imagem1.jpeg" alt="Imagem 1" class="banner-image">
                <img src="./static/assets/images/imagensCarro/imagem16.jpeg" alt="Imagem 3" class="banner-image">
                <img src="./static/assets/images/imagensCarro/imagem2.jpeg" alt="Imagem 4" class="banner-image">
                <img src="./static/assets/images/imagensCarro/imagem3.jpeg" alt="Imagem 5" class="banner-image">
                <img src="./static/assets/images/imagensCarro/imagem4.jpeg" alt="Imagem 6" class="banner-image">
                <img src="./static/assets/images/imagensCarro/imagem5.jpeg" alt="Imagem 7" class="banner-image">
                <img src="./static/assets/images/imagensCarro/imagem6.jpeg" alt="Imagem 8" class="banner-image">
                <img src="./static/assets/images/imagensCarro/imagem7.jpeg" alt="Imagem 9" class="banner-image">
                <img src="./static/assets/images/imagensCarro/imagem8.jpeg" alt="Imagem 10" class="banner-image">
                <img src="./static/assets/images/imagensCarro/imagem9.jpeg" alt="Imagem 11" class="banner-image">
                <img src="./static/assets/images/imagensCarro/imagem10.jpeg" alt="Imagem 12" class="banner-image">
                <img src="./static/assets/images/imagensCarro/imagem11.jpeg" alt="Imagem 13" class="banner-image">
                <img src="./static/assets/images/imagensCarro/imagem12.jpeg" alt="Imagem 14" class="banner-image">
                <img src="./static/assets/images/imagensCarro/imagem13.jpeg" alt="Imagem 15" class="banner-image"> 
                <img src="./static/assets/images/imagensCarro/imagem14.jpeg" alt="Imagem 16" class="banner-image">
            </div>
            <button class="nav-button" id="next"><img src="./static/assets/images/arrow.png" alt=""></button>
        </div>
        <div class="bottom-banner">
            <div class="bottom-banner-content">
                <!-- <div class="bottom-banner-button"> -->
                    <a class="bottom-banner-button" href="./template/estoque.html"><i class="bx bxs-car"></i> OUTRAS OFERTAS</a>
                <!-- </div> -->
            </div>
        </div>
        <div class="viv-corpo">
            <div class="viv-header-info">
                <div class="viv-title">
                    <h1>Citroën - C3 Live Pack 1.0 Flex 6V 5p Mec. - 2023</h1>
                </div>
                <div class="viv-price">
                    <h2>R$ 999.000,00</h2>
                </div>
            </div>
            <div class="grid">
                <div class="description">
                    <div class="viv-cards">
                        <ul>
                            <li class="viv-description">
                                <i class='bx bxs-tachometer'></i>
                                <h3>46.980 KM</h3>
                                <p>KM</p>
                            </li>
                            <li class="viv-description">
                                <i class='bx bx-calendar'></i>
                                <h3>2023</h3>
                                <p>Ano</p>
                            </li>
                            <li class="viv-description">
                                <i class='bx bxs-gas-pump' ></i>
                                <h3>Álc./Gasol.</h3>
                                <p>Combustível</p>
                            </li>
                            <li class="viv-description">
                                <i class='bx bx-power-off' ></i>
                                <h3>Manual</h3>
                                <p>Câmbio</p>
                            </li>
                            <li class="viv-description">
                                <i class='bx bxs-brush' ></i>
                                <h3>Branca</h3>
                                <p>Cor</p>
                            </li>
                            <li class="viv-description">
                                <i class='bx bx-list-ul' ></i>
                                <h3>R*****1</h3>
                                <p>Placa</p>
                            </li>
                            <li class="viv-description">                        
                                <h3>4 Portas</h3>
                                <p>Portas</p>
                            </li>
                            <li class="viv-description">
                                <i class='bx bxs-purchase-tag'></i>
                                <h3>Citroën</h3>
                                <p>Marca</p>
                            </li>
                            <li class="viv-description">
                                <i class='bx bxs-tachometer'></i>
                                <h3>Não</h3>
                                <p>Zero KM</p>
                            </li>
                            <li class="viv-description">
                                <i class='bx bxs-car'></i>
                                <h3>C3</h3>
                                <p>Modelo</p>
                            </li>
                        </ul>
                    </div>

                    <div class="tab-container">
                        <!-- Botões das abas -->
                        <div class="tabs">
                            <button class="tab-button active" onclick="openTab(event, 'acessorios')">Acessórios</button>
                            <button class="tab-button" onclick="openTab(event, 'informacoes')">Informações sobre o veículo</button>
                        </div>
                        
                        <div class="tab-content">
                            
                            <div id="acessorios" class="tab-pane active">
                                <div class="content-acessorios">
                                    <div class="acessorio">
                                        <h3>
                                            <i class='bx bx-check'></i>
                                            Teste
                                        </h3>
                                    </div>
                                    <div class="acessorio">
                                        <h3>
                                            <i class='bx bx-check'></i>
                                            Teste 2
                                        </h3>
                                    </div>
                                    <div class="acessorio">
                                        <h3>
                                            <i class='bx bx-check'></i>
                                            Teste 3
                                        </h3>
                                    </div>
                                    <div class="acessorio">
                                        <h3>
                                            <i class='bx bx-check'></i>
                                            Teste 4
                                        </h3>
                                    </div>
                                </div>
                            </div>

                            <div id="informacoes" class="tab-pane">
                                <div class="content-infos">
                                    <h3>Informações:</h3>
                                    <p>VALOR NA TROCA R$ 70.900,00. “Possibilidade de 1 ANO de GARANTIA Motor e Câmbio em todo território NACIONAL! ” *Consulte condições.”TRANSPARÊNCIA CONF. LEI N°13.111 ENTRE EM CONTATO NO NOSSO WHATSAPP: (47) 99122-4281</p>
                                    <p>Publicação automática através do sistema AutoPro360.</p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="viv-proposal">
                    <div class="div-whatsapp">
                        <a href="https://wa.me/5547991224281" target="_blank" class="button-whats">
                            <span>
                                Fale pelo Whatsapp
                            </span>
                            <i class='bx bxl-whatsapp'></i>
                        </a>
                    </div> 
                    <div class="viv-side">
                        <div class="side-title">
                            <i class='bx bxs-envelope' ></i>
                            <h2>Faça uma proposta</h2>
                        </div>
                        <form action="" method="post">
                            <div>
                                <label >Nome</label>
                                <input type="text" name="nome" id="nome" placeholder="Nome">
                            </div>
                            <div>
                                <label >E-mail</label>
                                <input type="email" name="email" id="email" placeholder="E-mail">
                            </div>
                            <div>
                                <label >Telefone</label>
                                <input type="text" name="telefone" id="telefone" placeholder="Telefone">
                            </div>
                            <div>
                                <label >Mensagem</label>
                                <textarea name="mensagem" id="mensagem" placeholder="Digite sua mensagem" rows="4"></textarea>
                            </div>
                            
                            <button class="submit" type="submit">Enviar</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="divider"></div>
            <div class="div-btn-all-stock">
                <a href="./template/estoque.html">Estoque completo</a>
            </div>
        </div>
    </div>

    <footer id="footer" class="footer-one"></footer>
</body>
</html>
