    <!-- <header id="header" class="header-template-one"> -->
        <div class="head-default-one">
            <div class="header-container">
                <div class="div-logo-head">
                    <a href="./template/inicio.html">
                        <img src="/static/assets/images/logo.png" alt="Logo">
                    </a>
                </div>
                <div class="div-contatos-head">
                    <a href="https://wa.me/5547991224281" target="_blank">
                        <div class="contact-item">
                            <div class="circle">
                                <i class="bx bxl-whatsapp"></i>
                            </div>
                            <div class="info">
                                <p class="type">WhatsApp</p>
                                <p class="number">(47) 99122-4281</p>
                            </div>
                        </div>
                    </a>
                    <a href="tel:4731444709" target="_blank">
                        <div class="contact-item">
                            <div class="circle">
                                <i class="bx bxs-phone"></i>
                            </div>
                            <div class="info">
                                <p class="type">Telefone</p>
                                <p class="number">(47) 3144-4709</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <nav class="navBar-header-one">
            <div class="header-container">
                <div class="div-links">
                    <ul>
                        <li>
                            <a href="./template/inicio.html">
                                Início
                            </a>
                        </li>
                        <li>
                            <a href="./template/estoque.html">
                                Estoque
                            </a>
                        </li>
                        <li>
                            <a href="./template/empresa.html">
                                Empresa
                            </a>
                        </li>
                        <li>
                            <a href="./template/contato.html">
                                Contato
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="div-complemento-pesquisa">
                    <div class="icons-redes">
                        <ul class="list-icons">
                            <li>
                                <a href="https://www.facebook.com/ricautomultimarcas/" target="_blank">
                                    <i class='bx bxl-facebook-square'></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.instagram.com/ricautomultimarcas/" target="_blank">
                                    <i class='bx bxl-instagram'></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="header-search">
                        <input type="text" class="input-search-head"  name="" placeholder="Encontre seu veículo!">
                        <i class='bx bx-search icon-search-head'></i>
                    </div>
                </div>
            </div>
        </nav>
    <!-- </header> -->

